/* POCOGUYS BOOTSTRAP LMAO */

.nav-cust .col {
    opacity: 0.5;
    transition: all 250ms;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-cust .col.active {
    opacity: 1;
}

.nav-cust .col:hover {
    transform: scale(1.3);
    text-shadow: 0px 0px 10px gray;
    opacity: 1;
    transition: all 250ms;
}

.back-button {
    color: white;
    opacity: 0.5;
    transition: all 250ms;
    text-decoration: none;
}

.back-button:hover {
    transform: scale(1.3);
    text-shadow: 0px 0px 10px gray;
    color: white;
    opacity: 1;
    transition: all 250ms;
}

.carousel {
    box-shadow: 0px 0px 100px black;
}

hr {
    border:none;
    height: 20px;
 	width: 90%;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid rgb(188, 188, 188);
	box-shadow: 0 20px 20px -20px rgb(188, 188, 188);
    margin: -50px auto 10px; 
}

.link {
    color: white;
    transition: all 250ms;
    font-weight: bold;
    text-decoration: none;
}

.link:hover {
    transition: all 200ms;
    transform: scale(1.3);
    text-decoration: underline solid;
    text-shadow: 0px 0px 10px gray;
    color: white;
    opacity: 1;
    transition: all 250ms;
}

.fs-your-mom {
    font-size: 10vw;
}

.bg-random {
    background-image: 
    linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
    ),
    url("https://picsum.photos/1920/1080");
}

.bg-only-sizing {
    background: none no-repeat center center fixed;
}

@keyframes slide-up {
    from {
        margin-top: 100%;
        height: 300%;
    }

    to {
        margin-top: 0%;
        height: 100%;
    }
}

.animate-fade.hidden {
    transition: all 250ms;
    font-size: 0px;
    transform: scale(1, 0) translate(0%, -100%);
    transform-origin: top left;
    opacity: 0;
}

.dl-menu-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.dl-menu-row .card, .dl-menu-row .card-img-overlay, .dl-menu-row img.card-img-top {
    border-width: 0;
    border-radius: 10%;
}

.dl-menu-row img.card-img-top {
    transform: scale(1.07);
    filter: blur(8px) saturate(200%) opacity(0.8);
    background-color: white;
}

.dl-menu-row ul {
    height: 100%;
}

.dl-menu-row {
    margin: 15px;
}

.dl-menu-row .dl-btn {
    transition: all 200ms;
    float: right;
    padding-left: 10px;
    font-weight: 100;
    text-decoration: none;
    color: white;
}

.dl-menu-row .dl-btn:hover {
    transition: all 200ms;
    transform: scale(1.3);
    text-shadow: 0px 0px 10px gray;
    float: right;
    color: white;
}

.animate-fade {
    transition: all 250ms;
    opacity: 1;
}
